    {% extends 'base.html' %}
    {% block contenido %}

    <center>
        <h1 style="font-family: 'fangsong', 'fangsong'monospace; color: rgb(0, 125, 200);">Formulario para crear un estudiante</h1>
        <h2 style="font-family: 'fangsong', 'fangsong'monospace; color: rgb(42,97,136);">Datos del estudiante que publica</h2>
    <body style="background-color: #dbeefc;">
        
        <form style="color: #0f0202; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 0.40cm;" method="POST">
            {% csrf_token %}
            Carne: {{ form.carne }}
            <p></p>
            Nombre: {{ form.nombre }}
            <p></p>
            Apellido: {{ form.apellido }}
            <p></p>
            <input type="submit" name="Guardar" class="btn btn-dark btn-sm">
        </form>
    <p><h3>Ver listado de estudiantes</h3></p>
    <a id="btnListar" class="btn btn-primary" href="{% url 'home:listadoapp'%}">Listar</a>
    <a id="btnHome" class="btn btn-primary" href="{% url 'home:homeapp'%}">Inicio</a>
    </center>

    {% endblock %}
    </body>