{% extends 'base.html' %}
{% block contenido %}

<center>
    <h1 style="font-family: 'fangsong', 'fangsong'monospace; color: rgb(0, 125, 200);">Formulario para editar un artículo</h1>
    <h2 style="font-family: 'fangsong', 'fangsong'monospace; color: rgb(42,97,136);">Datos del artículo</h2>
<body style="background-color: #dbeefc;">
    <form style="color: #0f0202; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 0.40cm;" method="POST">
        {% csrf_token %}
        Titulo: {{ form.titulo }}
        <p></p>
        Descripción: {{ form.descripcion }}
        <p></p>
        Autoriza: {{ form.autoriza }}
        <p></p>
        <input type="submit" name="Guardar" class="btn btn-dark btn-sm">
    </form>
<p><h3>Ver listado de artículos</h3></p>
<a id="btnListar" class="btn btn-primary" href="{% url 'home:listadoArtiapp'%}">Listar</a>
<a id="Home" class="btn btn-primary" href="{% url 'home:homeapp'%}">Inicio</a>
</center>
{% endblock %}
</body>