{% extends 'base.html' %}
{% block contenido %}
<center>
<h1 style="font-family: 'fangsong', 'fangsong'monospace; color: rgb(0, 125, 200);">Listado de Datos</h1>
<hr>
<table style="border-collapse: collapse; width: 45%;">
    <tr>
        <th style="border: 1px solid #ddd; padding: 3px; text-align: center; background-color: #f2f2f2;">Carne</th>
        <th style="border: 1px solid #ddd; padding: 3px; text-align: center; background-color: #f2f2f2;">Nombre</th>
        <th style="border: 1px solid #ddd; padding: 3px; text-align: center; background-color: #f2f2f2;">Apellido</th>
    </tr>
    {% for Autorizacion in estudiantesautorizaciones_list %}
    <tr>
        <td style="border: 1px solid #ddd; padding: 3px; text-align: center;">{{Autorizacion.carne}}</td>
        <td style="border: 1px solid #ddd; padding: 3px; text-align: center;">{{Autorizacion.nombre}}</td>
        <td style="border: 1px solid #ddd; padding: 3px; text-align: center;">{{Autorizacion.apellido}}</td>
        <td style="border: 1px solid #ddd; padding: 3px; text-align: center;"><a href="{% url 'home:editarEAApp' Autorizacion.id %}" class="btn btn-dark btn-sm">Editar</td>
    </tr>
    {% endfor %}
</table>
<hr>
<p><h3>Insertar Datos</h3></p>
<a id="btnInsertar" class="btn btn-primary" href="{% url 'home:crearEstAapp'%}">Insertar</a>
<a id="btnInicio" class="btn btn-primary" href="{% url 'home:homeapp'%}">Inicio</a>
</center>
{% endblock %}