{% extends 'base.html' %}

{% block contenido %}
<h1>Listado de datos</h1>
<table>
    <tr>
        <td> Carne </td>
        <td> Nombre </td>
        <td>Apellido</td>
    </tr>
    {% for Autorizacion in estudiantesautorizaciones_list %}
    <tr>
        <td>{{Autorizacion.carne}}</td>
        <td>{{Autorizacion.nombre}}</td>
        <td>{{Autorizacion.apellido}}</td>
    </tr>
    {% endfor %}
</table>
<p><h3>Insertar Datos</h3></p>
<a id="btnInsertar" class="btn btn-primary" href="{% url 'home:crearEstAapp'%}">Insertar</a>
<a id="btnInicio" class="btn btn-primary" href="{% url 'home:homeapp'%}">Inicio</a>
{% endblock %}