{% extends 'base.html' %}
{% block contenido %}
<center>
<h1 style="font-family: 'fangsong', 'fangsong'monospace; color: rgb(0, 125, 200)">Listado de Comentarios</h1>
<hr>
<table>
    <tr>
        <th style="border: 1px solid #ddd; padding: 3px; text-align: center; background-color: #f2f2f2;">Artículo</th>
        <th style="border: 1px solid #ddd; padding: 3px; text-align: center; background-color: #f2f2f2;">Comentario</th>
        <th style="border: 1px solid #ddd; padding: 3px; text-align: center; background-color: #f2f2f2;">Comenta</th>
    </tr>
    {% for Comentario in comentarios_list %}
    <tr>
        <td style="border: 1px solid #ddd; padding: 3px; text-align: center;">{{Comentario.articulo}}</td>
        <td style="border: 1px solid #ddd; padding: 3px; text-align: center;">{{Comentario.comentario}}</td>
        <td style="border: 1px solid #ddd; padding: 3px; text-align: center;">{{Comentario.comenta}}</td>
        <td style="border: 1px solid #ddd; padding: 3px; text-align: center;"><a href="{% url 'home:editarComeApp' Comentario.id %}" class="btn btn-dark btn-sm">Editar</td>
    </tr>
    {% endfor %}
</table>
<hr>
<p><h3>Insertar Comentario</h3></p>
<a id="btnInsertar" class="btn btn-primary" href="{% url 'home:crearComeapp'%}">Insertar</a>
<a id="btnInicio" class="btn btn-primary" href="{% url 'home:homeapp'%}">Inicio</a>
</center>
{% endblock %}