{% extends 'base.html' %}

{% block contenido %}
<h1>Listado de datos</h1>
<table>
    <tr>
        <td> Artículo </td>
        <td> Publica </td>
    </tr>
    {% for Publicacion in publicaciones_list %}
    <tr>
        <td>{{Publicacion.articulo}}</td>
        <td>{{Publicacion.publica}}</td>
    </tr>
    {% endfor %}
</table>
<p><h3>Insertar Datos</h3></p>
<a id="btnInsertar" class="btn btn-primary" href="{% url 'home:crearPubapp'%}">Insertar</a>
<a id="btnInicio" class="btn btn-primary" href="{% url 'home:homeapp'%}">Inicio</a>
{% endblock %}